.border{
    border: 1px solid black;
}

#header{
    display: inline-flex;
    width: 100%;
}

#game1{
    margin: 20px;
}
.game1{
    background-color: lightgreen;
}
#game2{
    margin: 20px;
}
.game2{
    background-color: gray;
}
#game3{
    margin: 20px;
}
.game3{
    background-color: lightskyblue;
}
#gamepicker{
    margin: 20px;
    margin-left: auto;
}
#descrating{
    display: inline-flex;
    width: 100%;
}
#gameinfo{
    width: 80%;
}
.tags{    
    display: inline-flex;
    border: 1px solid black;
}
#rating{
    width: 20%;
}
#images{
    display: inline-flex ;
    width: 100%;
}
.src{
    margin: 5px;
    width: 320px;
    height: 180px;
}
/* #systeem_eisen{} */
/* #Recenties{} */